@page "/admin/loyalty"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Oracle.ManagedDataAccess.Client

@inject ILoyaltyPointsData Db
@inject MessageService Message
@inject NavigationManager NavigationManager

<Title Level="1">Loyalty Points Page</Title>

<Button Type="primary" Shape="round" Icon="plus" Size="large" OnClick="NavigateToAddMenuItem">
    New Loyalty Point
</Button>

<Divider />

<Title Level="3">List of loyalty points:</Title>


@if (_loyaltyPoints is null)
{
    <div class="spinning-center">
        <Spin />
    </div>
}
else
{
    {
        <Table TItem="LoyaltyPointsModel"
               DataSource="@_loyaltyPoints"
               RowClassName="@(_ => "editable-row")">
            
            <Column @bind-Field="@context.Id">
                @context.Id
            </Column>

            <Column @bind-Field="@context.Points" Sortable>
                @if (!_editCache[context.Id].edit)
                        {
                    @context.Points
                        }
                        else
                        {
                    <Input Type="number" @bind-Value="_editCache[context.Id].data.Points" />
                        }
            </Column>

            <Column Title="Item" TData="string" DataIndex="Menu.DisplayName" Sortable></Column>

            <Column @bind-Field="@context.Status" Sortable>
                @if (!_editCache[context.Id].edit)
                        {
                    @context.Status
                        }
                        else
                        {
                    <Input @bind-Value="_editCache[context.Id].data.Status" />
                        }
            </Column>

            <ActionColumn Title="Action">
                <Space>
                    @if (!_editCache[context.Id].edit)
                    {
                        <SpaceItem>
                            <Button @onclick="() => StartEdit(context.Id)" Type="primary">Edit</Button>
                        </SpaceItem>
                    }
                    else
                    {
                        <SpaceItem>
                            <Button @onclick="() => SaveEdit(context.Id)">Save</Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Popconfirm Title="Sure to cancel?"
                                        OnConfirm="() => CancelEdit(context.Id)"
                                        OkText="Yes"
                                        CancelText="No">
                                <Button>Cancel</Button>
                            </Popconfirm>
                        </SpaceItem>
                    }
                    <SpaceItem>
                        <Popconfirm Title="Confirm delete?"
                                    OnConfirm="() => DeleteRow(context)"
                                    OkText="Yes"
                                    CancelText="No">
                            <Button Type="primary" Danger>Delete</Button>
                        </Popconfirm>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    }
}

@code {
    private List<LoyaltyPointsModel> _loyaltyPoints;

    protected override async Task OnInitializedAsync()
    {
        _loyaltyPoints = await Db.GetAllLoyaltyPoints();
        UpdateEditCache();
    }

    private void NavigateToAddMenuItem()
    {
        NavigationManager.NavigateTo("/admin/loyalty/add");
    }

    private async Task DeleteRow(LoyaltyPointsModel loyalty)
    {
        try
        {
            await Db.DeleteLoyaltyPoint(loyalty);
            _loyaltyPoints.Remove(loyalty);
            await Message.Success("Item Removed.");
        }
        catch (OracleException ex)
        {
            await Message.Error("This data is referenced elsewhere. Unable to perform 'DELETE' operation.");

            Console.WriteLine(ex.Message);
        }
    }

    readonly IDictionary<int, (bool edit, LoyaltyPointsModel data)> _editCache = new Dictionary<int, (bool edit, LoyaltyPointsModel data)>();

    void StartEdit(int id)
    {
        var data = _editCache[id];
        data.edit = true;
        _editCache[id] = data;
    }

    void CancelEdit(int id)
    {
        var data = _loyaltyPoints.FirstOrDefault(item => item.Id == id);
        _editCache[id] = new(false, data);
    }

    private async Task SaveEdit(int id)
    {
        try
        {
            var data = _loyaltyPoints.FirstOrDefault(item => item.Id == id);
            await Db.SaveLoyaltyPoint(data);
            _editCache[id] = new(false, data);
            await Message.Success("Success.");
        }
        catch (OracleException ex)
        {
            await Message.Error("Error saving data.");

            Console.WriteLine(ex.Message);
        }

    }

    void UpdateEditCache()
    {
        _loyaltyPoints.ForEach(item =>
        {
            _editCache[item.Id] = new(false, item);
        });
    }
}
