@page "/admin/delivery"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Oracle.ManagedDataAccess.Client

@inject IUserAddressData Db
@inject MessageService Message
@inject NavigationManager NavigationManager

<Title Level="1">Delivery Address Page</Title>

<Button Type="primary" Shape="round" Icon="plus" Size="large" OnClick="NavigateToAddMenuItem">
    New Delivery Address
</Button>

<Divider />

<Title Level="3">List of Addresses:</Title>


@if (_addresses is null)
{
    <div class="spinning-center">
        <Spin />
    </div>
}
else
{
    {
        <Table TItem="UserAddressModel"
               DataSource="@_addresses"
               RowClassName="@(_ => "editable-row")">

            <Column @bind-Field="@context.Id">
                @context.Id
            </Column>

            <Column Title="Customer" TData="string" DataIndex="User.Username" Sortable></Column>

            <Column @bind-Field="@context.City" Sortable>
                @if (!_editCache[context.Id].edit)
                        {
                    @context.City
                        }
                        else
                        {
                    <Input @bind-Value="_editCache[context.Id].data.City" />
                        }
            </Column>

            <Column @bind-Field="@context.Street" Sortable>
                @if (!_editCache[context.Id].edit)
                {
                    @context.Street
                }
                else
                {
                    <Input @bind-Value="_editCache[context.Id].data.Street" />
                }
            </Column>
            
            <Column @bind-Field="@context.Landmarks" Sortable>
                @if (!_editCache[context.Id].edit)
                {
                    @context.Landmarks
                }
                else
                {
                    <Input @bind-Value="_editCache[context.Id].data.Landmarks" />
                }
            </Column>

            <ActionColumn Title="Action">
                <Space>
                    @if (!_editCache[context.Id].edit)
                    {
                        <SpaceItem>
                            <Button @onclick="() => StartEdit(context.Id)" Type="primary">Edit</Button>
                        </SpaceItem>
                    }
                    else
                    {
                        <SpaceItem>
                            <Button @onclick="() => SaveEdit(context.Id)">Save</Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Popconfirm Title="Sure to cancel?"
                                        OnConfirm="() => CancelEdit(context.Id)"
                                        OkText="Yes"
                                        CancelText="No">
                                <Button>Cancel</Button>
                            </Popconfirm>
                        </SpaceItem>
                    }
                    <SpaceItem>
                        <Popconfirm Title="Confirm delete?"
                                    OnConfirm="() => DeleteRow(context)"
                                    OkText="Yes"
                                    CancelText="No">
                            <Button Type="primary" Danger>Delete</Button>
                        </Popconfirm>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    }
}

@code {
    private List<UserAddressModel> _addresses;

    protected override async Task OnInitializedAsync()
    {
        _addresses = await Db.GetUserAddress();
        UpdateEditCache();
    }

    private void NavigateToAddMenuItem()
    {
        NavigationManager.NavigateTo("/admin/delivery/add");
    }

    private async Task DeleteRow(UserAddressModel address)
    {
        try
        {
            await Db.DeleteUserAddress(address);
            _addresses.Remove(address);
            await Message.Success("Item Removed.");
        }
        catch (OracleException ex)
        {
            await Message.Error("This data is referenced elsewhere. Unable to perform 'DELETE' operation.");

            Console.WriteLine(ex.Message);
        }
    }

    readonly IDictionary<int, (bool edit, UserAddressModel data)> _editCache = new Dictionary<int, (bool edit, UserAddressModel data)>();

    void StartEdit(int id)
    {
        var data = _editCache[id];
        data.edit = true;
        _editCache[id] = data;
    }

    void CancelEdit(int id)
    {
        var data = _addresses.FirstOrDefault(item => item.Id == id);
        _editCache[id] = new(false, data);
    }

    private async Task SaveEdit(int id)
    {
        try
        {
            var data = _addresses.FirstOrDefault(item => item.Id == id);
            await Db.SaveUserAddress(data);
            _editCache[id] = new(false, data);
            await Message.Success("Success.");
        }
        catch (OracleException ex)
        {
            await Message.Error("Error saving data.");

            Console.WriteLine(ex.Message);
        }

    }

    void UpdateEditCache()
    {
        _addresses.ForEach(item =>
        {
            _editCache[item.Id] = new(false, item);
        });
    }
}
